# ide and os files
.idea/
*.DS_Store
*.kate-swp
*.desktop
*.thumb
*.sublime*
.~*
~*
*~
*.orig

# package managers
npm-debug.log
node_modules/
nwjs-v0.12.2-linux-x64/

# build files
/.tmp
/.build-nw-cache
/build

# other files
/run/log/
/run/runtime/
